<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Product Form')}">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}">
</div>

<section class="page">

    <div class="container">

        <div
                class="card"
                style="
                max-width:700px;
                margin:auto;">

            <h1
                    th:text="${product.productId == null}
                    ? 'Add Product'
                    : 'Edit Product'">

                Product Form

            </h1>

            <br>

            <form
                    th:action="@{/products/save}"
                    th:object="${product}"
                    method="post">

                <input
                        type="hidden"
                        th:field="*{productId}">

                <div class="form-group">

                    <label>Name</label>

                    <input
                            type="text"
                            th:field="*{productName}"
                            class="form-control"
                            required>

                </div>

                <div class="form-group">

                    <label>Price</label>

                    <input
                            type="number"
                            step="0.01"
                            th:field="*{price}"
                            class="form-control"
                            required>

                </div>

                <div class="form-group">

                    <label>Quantity</label>

                    <input
                            type="number"
                            th:field="*{quantity}"
                            class="form-control"
                            required>

                </div>

                <div class="form-group">

                    <label>Description</label>

                    <textarea
                            th:field="*{description}"
                            class="form-control"
                            rows="5">
                    </textarea>

                </div>

                <button
                        type="submit"
                        class="btn">

                    Save Product

                </button>

                <a
                        th:href="@{/products-ui}"
                        class="btn"
                        style="margin-left:10px;">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</section>

<div th:replace="~{fragments/footer :: footer}">
</div>

</body>

</html>